| Job failed
= "\n"
= "\n"
| Name: #{name}
= "\n"
= "\n"
| Queue: #{queue}
= "\n"
= "\n"
| Status: #{status}
= "\n"
= "\n"
| Created at: #{created_at}
= "\n"
= "\n"
| Scheduled for: #{scheduled_for}
= "\n"
= "\n"
| Valid until: #{valid_until}
= "\n"
= "\n"
| Input data: !{input_data}
= "\n"
= "\n"
| Output data: !{output_data}
= "\n"
= "\n"
