div.letter
    h3 Job failed
    p Name:
        pre= name
    p Queue:
        pre= queue
    p Status:
        pre= status
    p Created at:
        pre= created_at
    p Scheduled for:
        pre= scheduled_for
    p Valid until:
        pre= valid_until
    p Input data:
        pre= input_data
    p Output data:
        pre= output_data
